
#hero-section{
    /* background-color:rgb(202, 213, 218); */
    height: 90vh;
    /* padding-top: 2rem; */
}

.sub-div{
    /* border:2px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.hero-span{
    font-weight:bold;
    color: var(--primary-color);
}

#top-div{
    /* background-color: black; */
    height: 80%;
    justify-content: space-around;
}

#bottom-div{
    background-color: lightgray;
    height: 20%;
}

#hero-section-image-div{
    /* width:"30%"; */
    background-color:"red";
}

#hero-section-image{
    /* width: 50%; */
}


/* 

*/


