#tutor-card{
    /* border: 1px solid red; */
    
}

#heading{
    display: flex;
    font-size:xx-large;
    height: 60px;
    justify-content: center;
    /* background-color: blueviolet; */
}

#cards-div{
    /* background-color: lightblue; */
    width: 100%;
}

#card-listing-div{
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    /* flex-wrap: wrap; */
    height: 25rem;
}

#card-carousel-controller-div{
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.card-btn-div{
    display: flex;   
    justify-content: center;
}

.btn-class{
    color: black;
    background-color: rgb(187 247 208);
    /* box-shadow: 0px 2px 2px 1px black; */
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.carousel-control-btn{
    font-size: 20px;
    background-color: orange;
    /* margin-left: 10px; */
    
}

.card{
    width: 15rem;
    /* height: 16rem; */
    /* background-color: black; */
    /* background-color: rgb(134 239 172); */
    background-color: #0a4a40;
    color: white;
    box-shadow: 0px 8px 10px 0px gray;
    /* border-radius: 5%; */
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 0px 0px;
}

.profile-pic-section{
    width: 15rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5% 5% 0% 0%; */
    /* background-color: rgb(134 239 172); */
    background-color: white;
    /* background-color:darkslategray; */
}

.profile-pic{
    /* background-color:black; */
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}

.tutor-details{
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding-bottom: 20px;
    /* background-color: gray; */
    border-radius: 0% 0% 5% 5%;
}

.tutor-name{
    margin-top: 5px;
    width: 100%;
    /* height: 20%; */
    font-size: larger;
    display: flex;
    justify-content: center;
    /* background-color: gray; */
}

.ratings{
    width: 100%;
    /* height: 20%; */
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    /* background-color: pink; */
}

.star{
    color: yellow;
    
}

.skills-tag-div{
    padding: 0 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: black; */
    height: 80px;
}

.skills-tag{
    font-size: small;
    padding: 1px 5px 1px 5px;
    /* color: black; */
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(187 247 208);;
}

