#main-div{
    background-color: lightblue;
    height: 100vh;
    
}

.search-page-sub-div{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

#search-box-div{
    padding: 20px 0px 20px 0px;
}

#filters-div{
    padding: 10px 0px 10px 0px;
    background-color: lightslategray;
}

#search-page-tutor-card{
    background-color: white;
    height: 100vh;
}