#settings-page-root-div{
    height:100%;
}

#settings-page-details-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

#personal-details-div{
    width: 70%;
}

.sub-container-div{
    box-shadow: 0px 0px 2px 0px black;
    /* border:1px solid black; */
    border-radius: 6px;
    
    /* background-color: brown; */
}

.account-content-div{
    padding: 10px 20px;
    display: block;
    /* background-color: aqua; */
}

#deactivate-account-div{
    margin-bottom: 40px;
}

.left-align-heading{
    justify-content: flex-start;
}

.button-div{
    display: flex;
    justify-content: center;
    /* width: 100px; */
    margin: 30px;
    /* background-color:lightgray; */
}

.msg-div{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

.account-settings-button{
    font-weight: bold;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: orange;
}

.account-settings-button:hover{
    /* border:2px solid black; */
    box-shadow: 0px 2px 5px 0px gray;
}

.account-settings-button:active{
    box-shadow: none;
}

#current-status-of-account{
    margin: 20px 0px;
    padding: 20px;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    font-weight: bold;
}

#status-heading{
    margin-right: 10px
}

#current-status-span{
    color: green;
}