#home-page-root-div{
    display: flex;
    /* background-color: paleturquoise; */
    /* justify-content: space-between; */
    height: 100%;
}

#home-page-details-div{
    width: 78.5%;
    margin-right: 5px;
    /* background-color: gray; */
}

.row-div{
    /* background-color:lightgray; */
    display: flex;
    /* justify-content: space-around; */
    /* margin: 0px; */
}

.sub-container-div{
    box-shadow: 0px 2px 5px 0px gray;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    /* height: 100%; */
    /* background-color:burlywood; */
}

.div-heading{
    font-weight: bold;
    /* background-color: aqua; */
    /* padding: 0px 0px; */
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

#welcome-greeting-div{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
    width: fit-content;
    padding: 20px 30px;
}

#welcome-greeting-div > #user-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    font-size:25px;
    /* width: max-content; */

    /* font-weight:lighter; */
}

#waving-hand{
    margin-left: 10px;
    color:rgb(190, 127, 8);
    /* color: rgb(138, 85, 15); */
    transform: rotateY(200deg);
}

#account-notification-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 0px;
}

#notification-listing-div{
    width: 100%;
    padding: 10px;
    /* background-color: lightblue; */
}

.notification{
    padding: 5px 0px;
    border-bottom: 1px solid lightgray;
}

.div-heading{
    position: relative;
    text-align: center;
    /* top: -10px; */
    font-weight: bold;
    /* background-color: darkgrey; */
    padding: 5px;
    margin-bottom: 0px;
}

.content-div{
    /* background-color: aqua; */
    padding: 5px 10px;
    display: flex;
}

.label-span{
    /* font-size: medium; */
    font-weight:bold;
    color: gray;

}

.content-span{
    padding-left: 10px;
}

.content-li{
    /* background-color: darkseagreen; */
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid lightgray; */
}

#user-rating-tag{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(48, 44, 44); */
    color: white;
    /* width: 30%; */
    padding: 0px 20px;
    font-size:xx-large;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    /* visibility: hidden; */
}

.star{
    color: yellow;
}

#rating-div{
    background-color: rgb(55, 56, 55);
}

#date-time-block-div{
    width: 150px;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-weight: bold; */
}

.date-time{
    display: flex;
    justify-content: center;
}

#date{
    
}

#time{

}

.edit-button-div{
    position: absolute;
    right:0px;
    top:0px;
}

.medium-content-div{
    min-height: 100%;
    overflow-y:auto;
    /* background-color:cadetblue; */
}

#language-div{
    width: 200px;
}

#subjects-div{
    width: 200px;
}

.textarea-input-box{
    /* border: 1px solid gray; */

    resize: none;
    width: 100%;
    height: 150px;
    padding: 5px 5px;
}

/* .dashboard-input-box:focus{
    
} */

#second-row{
    /* background-color: gray; */
    /* height: 200px; */
}