#listing-items-root-div{
    background-color: lightgray;
    padding: 10px;
}

#list-heading{
    background-color: lightblue;
    padding: 10px;
    font-weight: bold;
}

#li-items{
    padding: 10px;
    background-color: lightblue;
}

#items-list{
    background-color:rgb(223, 197, 172);
    padding: 10px;
}